*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
    font-size: 1.3rem;
}

.header{
    text-align: center;
    background-color: red;
    margin:auto ;
    padding-top: 5px;
}
.conten{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    padding: auto;
}
 /*dong1*/
.dong1 {
    background-color: wheat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.dong1 a,img{
    width: 100%;
    padding: 0.1%;
}

/*dong2*/
.dong2{
    background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.dong2 a,img{
    width: 100%;
    padding: 0.1%;
}
